{
  "env": {
    "browser": true,
    "es6": true
  },
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "globals": {
    "Atomics": "readonly",
    "SharedArrayBuffer": "readonly"
  },
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2018,
      "sourceType": "module"
  },
  "plugins": [
    "react",
    "react-hooks"
  ],
  "rules": {
    "function-paren-newline": 0,
    "import/no-extraneous-dependencies": 0,
    "no-confusing-arrow": 0,
    "no-class-assign": 0,
    "no-use-before-define": ["error", { "variables": false }],
    "no-multi-spaces": [2, { "exceptions": { "ObjectExpression": true } }],
    "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
    "max-len": ["error", 140],
    "object-curly-newline": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],

    "linebreak-style": ["error", "windows"],
    "no-unused-expressions": ["error", { "allowShortCircuit": true }],

    "jsx-a11y/anchor-is-valid": [ "error", {
      "components": [ "Link" ],
      "specialLink": [ "to", "hrefLeft", "hrefRight" ],
      "aspects": [ "noHref", "invalidHref", "preferButton" ]
    }],
    "react/prop-types": "off",
    "react-hooks/rules-of-hooks": "error",
    "arrow-parens": ["error", "as-needed"]
  }
}
