body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

h2 {
  margin-bottom: 0;
}

p {
  margin-top: 0;
}

a {
  margin: 0 0.35rem;
  color: black;
  font-weight: bold;
}

.banner {
  position: fixed;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #ffd007;
  padding: 0.75rem;
}

.buy {
  width: 12rem;
  margin-left: 1rem;
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  outline: none;
}

.sell {
  position: absolute;
  left: 94%;
  top: 50%;
  border-color: red;
  border-radius: 1rem;
  outline: none;
}

.disabled {
  pointer-events: none;
  color: rgb(212, 212, 212);
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(212, 212, 212);;
}

.game {
  display: inline-block;
  width: 50rem;
  margin-top: 3rem;
}

.clicker {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 10rem;
  margin: 1rem 0;
  padding: 0 2rem;
  border: 0.25rem solid gray;
  border-radius: 1rem 0;
}

.info {
  text-align: left;
}
