body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}

h1 {
  font-size: 1.5rem;
}

h2 {
  margin-bottom: 0;
  font-size: 1.2rem;
}

p {
  margin-top: 0;
}

a {
  margin: 0 0.35rem;
  color: black;
  font-weight: bold;
}

.banner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  background-color: #ffd007;
  padding: 0.75rem 0;
  z-index: 100;
}

.buy {
  display: block;
  width: 90vw;
  margin: 1rem auto;
  padding: 0.5rem;
  border: 2px solid gray;
  border-radius: 1rem 0;
  font-size: 1rem;
  font-weight: bold;
  background-color: rgb(212, 212, 212);
  cursor: pointer;
  outline: none;
}

.sell {
  position: absolute;
  right: 1%;
  top: 60%;
  padding: 0.85rem 1.2rem;
  border-color: red;
  border-radius: 2rem;
  outline: none;
}

.disabled {
  pointer-events: none;
  color: rgb(212, 212, 212);
  background-color: rgb(233, 233, 233);
  border: 2px solid rgb(212, 212, 212);;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 5rem 0.5rem;
}

.clicker {
  position: relative;
  display: block;
  width: 90vw;
  margin: 0.5rem 0;
  padding: 0 0.5rem;
  border: 0.25rem solid gray;
  border-radius: 1rem 0;
}

.info {
  text-align: left;
}

@media (min-width: 751px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .game {
    margin: 3rem 0 0 0;
  }

  .clicker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 45rem;
    padding: 0 2rem;
  }

  .buy {
    width: 12rem;
    margin: 1rem 0;
  }

  .sell {
    position: absolute;
    left: 94%;
    top: 50%;
    padding: 0.2rem 0.51rem;
    border-color: red;
    border-radius: 2rem;
    outline: none;
  }
}
